@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot'); // IE9 Compat Modes
  src: url('../font/iconfont.eot?t=1491903330819#iefix') format('embedded-opentype'), // IE6 - IE8
  url('../font/iconfont.woff?t=1491903330819') format('woff'), // Modern Browsers
  url('../font/iconfont.ttf?t=1491903330819') format('truetype'), // Safari, Ios, Android
  url('../font/iconfont.svg?t=1491903330819#iconfont') format('svg'); // Ios
}

.iconfont {
  font-family: 'iconfont';
}

.icon-pause:before { content: '\e66a'; }

.icon-download:before { content: '\e6a3'; }

.icon-close:before { content: '\e61b'; }

.icon-clockoutline:before { content: '\e656'; }

.icon-sousuo:before { content: '\e659'; }

.icon-x:before { content: '\e65d'; }

.icon-play:before { content: '\e60e'; }
